# Venv
/.venv

# Dot-files
.dockerignore
.idea
.git
.env

# Directories (image data, logs), build artefacts, etc.
/data
/logs
/tests
/AA_deprecated_code
/mlflow-data/
*.egg-info/
dist/
build/

# Model files
/src/models/*.pth

# databases
/mlflow.db
